body{
    background: linear-gradient(90deg, white, #2eadc2);
    font-family:'Times New Roman', Times, serif;
}
#blink {
    font-size: 20px;
    font-weight: bold;
    color: white;
    transition: 0.5s;
}

#headerStyle{
    font-weight: 900;
}

#data {
    background: linear-gradient(180deg, white, lightblue);
}